<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FUSE Management</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <style>
      .expired {
        color: red;
      }
      .table-container {
        height: 400px; /* Adjust the height as needed */
        overflow: auto; /* Enable scrolling */
      }
      .form-container {
        margin-top: 20px; /* Adjust the value as needed */
      }
    </style>
  </head>

  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a href="{{ url_for('home') }}" class="navbar-item"> Home </a>
                <a href="{{ url_for('set_fuse_date') }}" class="navbar-item">
                  Set Fuse Date
                </a>
                <a href="{{ url_for('upload_file') }}" class="navbar-item">
                  Upload File
                </a>
                <a href="{{ url_for('about') }}" class="navbar-item"> About </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %} {% endblock %}
        </div>
      </div>
    </section>
  </body>
</html>
