{% extends 'base.html' %} {% block content %}
<h2 class="is-size-3-mobile is-size-1-desktop title">Login</h2>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column"></div>

      <div class="column">
        <class class="field">
          <form method="post" action="{{ url_for('login') }}">
            <!-- Username -->
            <div class="field">
              <label class="label">Username:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="username"
                  placeholder="Username"
                />
              </div>
            </div>

            <!-- Password -->
            <div class="field">
              <label class="label">Password:</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  name="password"
                  placeholder="Password"
                />
              </div>
            </div>

            <!-- Submit button -->
            <div class="mt-6 has-text-centered">
              <button class="button is-warning">Login</button>
            </div>
          </form>
        </class>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

{% endblock %}
