{% extends "base.html" %} {% block title %}SE Match{% endblock %} {% block
content %}
<h1 class="is-size-3-mobile is-size-1-desktop title">SE Match - Post</h1>

{% if fuse_date == None %}
<article class="message">
  <div class="message-header">
    <p>Fuse Date not set</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    The Fuse date has expired or is not set.
    <a href="{{ url_for('set_fuse_date') }}">Click here</a> to set a new Fuse
    date.
  </div>
</article>

<p class="is-size-5">No Fuse Date Set</p>
{% else %}
<p class="is-size-5">Fuse Date: {{ fuse_date }}</p>
{% endif %}

<div class="columns">
  <div class="column"></div>
  <div class="column">
    {% if data %}
    <div class="table-container" style="text-align: center">
      {{ data|safe }}
    </div>
    {% else %}
    <p class="is-size-5">No data available</p>
    {% endif %}
  </div>
  <div class="column">
    {% if match_file %}
    <a
      href="{{ url_for('download_csv', filename=match_file) }}"
      class="button is-link"
      >Download CSV</a
    >
    {% endif %}
  </div>
</div>

{% endblock %}
