{% extends "base.html" %} {% block title %}FUSE Attendees{% endblock %} {% block
content %}
<h1 class="title">Select FUSE Attendees</h1>

<div class="field">
  <label class="label">Search for a name:</label>
  <div class="control">
    <input class="input" type="text" id="searchBox" placeholder="Search..." />
  </div>
</div>

<form action="{{ url_for('submit_names') }}" method="post">
  {% for letter, names in sorted_names.items() %}
  <h2
    class="is-size-4 has-text-primary-00 has-text-weight-bold is-underlined has-text-left-desktop pb-6"
  >
    {{ letter | upper }}
  </h2>
  <div class="columns is-multiline is-narrow">
    {% for name in names %}
    <div class="column is-one-third name-column">
      <div class="field is-flex is-align-items-center is-flex-direction-column">
        <label class="checkbox is-size-5">
          <input type="checkbox" name="names" value="{{ name }}" checked />
          <span class="name">{{ name }}</span>
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="control has-text-centered">
    <button
      class="has-background-primary-05 has-text-primary-05-invert button is-normal is-responsive"
      type="submit"
    >
      Submit Selected Names
    </button>
  </div>
</form>

<script>
  document.getElementById('searchBox').addEventListener('input', function () {
    var searchValue = this.value.toLowerCase();
    var searchTerms = searchValue.split(' ').filter(Boolean); // Remove empty strings
    var nameColumns = document.querySelectorAll('.name-column');

    nameColumns.forEach(function (column) {
      var name = column.querySelector('.name').textContent.toLowerCase();
      var matches = searchTerms.every(function (term) {
        return name.includes(term);
      });
      if (matches || searchValue === '') {
        column.style.display = '';
      } else {
        column.style.display = 'none';
      }
    });
  });
</script>

{% endblock %}
