<!DOCTYPE html>
<html>
  <head>
    <title>Set Fuse Date</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Set Fuse Date</h1>
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form method="post" action="{{ url_for('set_fuse_date') }}">
        <div class="form-group">
          <label for="new_fuse_date">New Fuse Date:</label>
          <input
            type="date"
            class="form-control"
            id="new_fuse_date"
            name="new_fuse_date"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
